img{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px #888888;
}
h1{
    text-align: center;
    font-size: 42pt ;
    border-top: 3pt solid #ce8c89;
    border-bottom: 3pt solid #ce8c89;
    background-color: #ffffff;
    font-family: 'Bevan', cursive;
    margin-left: auto;
    margin-right: auto;
}

body{
    text-align: center;
    font-size: 14pt;
    font-family: 'Slabo 13px', serif;
    background-color: #ffffff;
    border: 5px solid #ce8c89;
    padding: 50px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    border-bottom: 3pt solid #ce8c89
}

html{
    background-image:url(BG.jpg);
    padding: 50px;
    padding-right: 250px;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
}

a:hover{color: #ce8c89;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Slabo 13px', serif;
    padding-top: 25px;
    text-decoration: underline;
}

object{
    box-shadow: 5px 5px 15px #888888;
}
